<div class="row mb-5 mt-5">
    <div class="col-md-12">
        <div class="card card-plain">
        <div class="card-header card-header-primary text-center">
            <h3 class="card-title mt-0">Consumo actual - Check Ins activos</h4>
            <h5 class="card-">Sólo check Ins activos son mostrados en esta tabla</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead class="">
                        <th>CheckIn</th>
                        <th>Habitación</th>
                        <th>Peso de toallas (kgr)</th>
                        <th>Consumo de agua por toallas (lts)</th>
                        <th>Consumo de agua (lts)</th>
                        <th>Tiempo de consumo de agua (min)</th>
                        <th>Consumo total de agua (lts)</th>
                    </thead>
                    <tbody>
                        <% totals.forEach(function(total){ %>

                            <% if(total.checkIn_id.status == true){ %>
                                <tr>
                                    <% 
                                        total.checkIn_id.date.setHours(
                                        total.checkIn_id.date.getHours() + 
                                        new Date().getTimezoneOffset()/60
                                        ); 
                                    %> 
                                    <td>
                                        <%= total.checkIn_id.date.toLocaleDateString(); %>
                                        <%= total.checkIn_id.date.toLocaleTimeString(); %> 
                                    </td>
                                    <td><%= total.checkIn_id.room_id.roomNumber %></td>
                                    <td><%= total.totals.towels.weight / 1000 %></td>
                                    <td><%= total.totals.towels.consumption %></td>
                                    <td><%= total.totals.water.consumption %></td>
                                    <td><%= Math.round(total.totals.water.seconds / 60) %></td>
                                    <td>
                                        <span class="font-weight-bold">
                                            <%= total.totals.totalConsumption%>
                                        </span>
                                    </td>
                                </tr>
                            <% } %>
                            
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>