<div class="row mb-5 mt-5">
    <div class="col-md-12">
        <div class="card card-plain">
        <div class="card-header card-header-primary text-center">
            <h3 class="card-title mt-0">Consumos de agua inesperados</h3>
            <h5 class="card-category">Registro de consumo en habitaciones inactivas</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead class="">
                        <th>Habitación</th>
                        <th>Sensor</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Consumo</th>
                        <th>Tiempo de consumo (min)</th>
                    </thead>
                    <tbody>
                        <% waterConsumptions.forEach(function(consumption){ %>
                            <tr>
                                <% 
                                    consumption.infoPacket.date.setHours(
                                    consumption.infoPacket.date.getHours() + 
                                    new Date().getTimezoneOffset()/60
                                    );
                                %>
                                <td><%= consumption.sensor_id.room_id.roomNumber %></td>
                                <td><%= consumption.sensor_id.sensorName %></td>
                                <td><%= consumption.infoPacket.date.toLocaleDateString(); %></td>
                                <td><%= consumption.infoPacket.date.toLocaleTimeString(); %> </td>
                                <td><%= consumption.infoPacket.consumption %></td>
                                <td><%= Math.round(consumption.infoPacket.seconds / 60) %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>